*{
box-sizing:border-box;
}
body{
  font-family:Geneva;
  margin:15px 13px;
  font-size: 17px;
  padding:8px;
}
.container{
  background-color:gray;
  padding:5px 20px 15px 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
